* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

.navbar-one {
    height: 120px;
}

.offcanvas.offcanvas-end {
    top: 0;
    right: 0;
    width: 1000px;
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
}

.logo {
    height: 5rem;
}


.whatsapp {
    width: 52px;
    height: 52px;
    margin-right: 5rem;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;

}

.portada {
    height: 60rem;
    padding-bottom: 40px;
}

.img-portada {
    background-image: url("../img/background.png");
    background-size: cover;
}

/*button sobreNosotros*/

.btn-info {
    background-color: red;
    border: none;
    color: white;
    font-weight: bold;
}

.btn-info:hover {
    background-color: gray;
    color: white;
}

/*footer*/

.logo-footer {
    height: 10rem;
}

.container-footer {
    background-color: rgb(154, 149, 149);
    color: #FFF;

}


/*Section Timeline*/

.div-timeline {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.div-arrows {
    display: flex;
    padding: 10px;
}

.div-year {
    text-align: center;
    font-weight: bold;
}

.div-text {
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.red-arrow,
.black-arrow,
.grey-arrow,
.lightgrey-arrow {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}

.red-arrow .div-year,
.black-arrow .div-year,
.grey-arrow .div-year,
.lightgrey-arrow .div-year {
    margin-bottom: 5px;
}

.red-arrow {
    background-color: red;
}

.black-arrow {
    background-color: black;
}

.grey-arrow {
    background-color: rgb(102, 102, 102);
}

.lightgrey-arrow {
    background-color: grey;
}

.red-triangle-arrow,
.black-triangle-arrow,
.grey-triangle-arrow,
.lightgrey-triangle-arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    transform: rotate(270deg);
    border-top: 25px solid;
}

.red-triangle-arrow {
    border-top-color: red;
}

.black-triangle-arrow {
    border-top-color: black;
}

.grey-triangle-arrow {
    border-top-color: rgb(102, 102, 102);
}

.lightgrey-triangle-arrow {
    border-top-color: grey;
}

.mision-title {
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.mision-text {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 350;
    line-height: 1.4;
}

.box-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-list {
    font-size: 30px;
    padding: 50px;
}

.text-center {
    margin: 35px;
    font-weight: bold;
}

/*Fumisteria SERSCAY page*/

.fumisteria-title {
    font-size: 50px;
    font-family: "Oswald", sans-serif;
}

.fumisteria-text {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 350;
    line-height: 1.4;
}

.carousel-inner {
    display: flex;
    align-items: center;
    height: 50rem;
  }
